* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #212529;
    color: #fff;
    font-family: sans-serif;
    padding: 0 15px
}

.header {
    position: sticky;
    top: 0;
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
    padding: 15px 0;

}

#city_input {
    background-color: #2a2b2d;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    color: #fff;

}

#searchBtn {
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 25px;
    background-color: #fff;
    cursor: pointer;

}

#locationBtn {
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 25px;
    background-color: #ea6e4b;
    cursor: pointer;


}

.card {
    background-color: #2a2b2d;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;

}

.card p {
    font-size: 14px;
    color: #fff
}

.card h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 7px 0;

}

.weather-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

}

.weather-left {
    grid-column: span 1;
}

.current-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer p {
    font-size: 14px;
    margin-bottom: 12px;
}

.forecast-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-bottom: 15px;
}

.icon-wrap {
    display: flex;
    align-items: center;
}